SnifferFlow.txt
[{"id":"6055ff33.82ccc","type":"mqtt in","z":"96b5cc05.d335a","name":"","topic":"Sniffer/#","qos":"0","broker":"9ef29a8f.21e728","x":67,"y":156,"wires":[["ae0a99b0.345008","b7ace64c.a20d98"]]},{"id":"ae0a99b0.345008","type":"json","z":"96b5cc05.d335a","name":"","pretty":true,"x":256,"y":155,"wires":[["59983df5.477604","ae218b12.d870b8","8723f25f.53643","3c69cfe3.7870e"]]},{"id":"59983df5.477604","type":"function","z":"96b5cc05.d335a","name":"Search","func":"\nvar knownDevices=[\n\"00:c0:ca:82:ee:8c\",\n\"00:e0:4c:53:44:58\",\n\"00:0f:04:b2:89:5f\",\n\"02:63:bd:d2:05:81\",\n\"12:3a:b4:60:a9:c3\",\n\"12:67:0d:6b:6c:c3\",\n\"1a:2c:b1:b5:7d:16\",\n\"1e:fe:8e:5a:7f:f6\",\n\"24:0a:c4:0d:90:6d\",\n\"2c:59:e5:e7:ce:f6\",\n\"4a:d0:2f:e1:58:f5\",\n\"4c:cc:6a:ff:70:57\",\n\"52:a4:df:6a:b7:99\",\n\"54:67:51:2a:49:22\",\n\"56:67:11:29:f9:bd\",\n\"5c:cf:7f:d7:22:2b\",\n\"5c:cf:7f:d7:1c:b5\",\n\"5c:cf:7f:c1:6b:e0\",\n\"60:01:94:07:0c:ad\",\n\"60:f4:45:c5:ab:44\",\n\"60:fe:c5:c2:4c:d2\",\n\"62:24:c2:f1:be:ea\",\n\"6c:b0:ce:2a:56:a8\",\n\"68:54:fd:a1:51:81\",\n\"6a:fe:e8:f0:10:9f\",\n\"6e:2f:ba:15:4a:e2\",\n\"70:62:b8:6c:85:24\",\n\"70:62:b8:6c:85:25\",\n\"76:5e:6c:af:56:66\",\n\"7e:7a:c0:12:29:78\",\n\"7e:d1:1c:a2:27:ee\",\n\"90:b6:86:c4:ba:9e\",\n\"9a:a4:ef:a7:c9:d7\",\n\"a4:8d:ee:ec:b2:c2\",\n\"b6:e6:d2:de:af:c1\",\n\"b8:27:eb:22:d9:40\",\n\"c6:3f:28:66:d9:a3\",\n\"d0:c5:f3:b3:5d:45\",\n\"d2:fe:31:d1:3c:9d\",\n\"de:b2:ce:75:db:72\",\n\"e4:a7:a0:13:b7:2b\",\n\"e6:e7:b4:69:16:34\",\n\"ea:ed:cd:76:5c:8e\",\n\"ec:ad:b8:6a:a3:d9\",\n\"ee:fe:37:da:9e:aa\",\n\"f8:16:54:d2:8f:b6\"\n\n];\nvar newDevice=false;\nfor ( i=0;i<msg.payload.MAC.length;i++){\n    if (knownDevices.indexOf(msg.payload.MAC[i])<0){\n        newDevice=true;\n        deviceMac=msg.payload.MAC[i];\n    }\n}\n\nif (newDevice){\n    msg.payload=deviceMac;\n    return msg;\n}\n// else msg.payload=\"\";\n","outputs":1,"noerr":0,"x":458,"y":157,"wires":[["d618a44e.e55108","b2553257.73b39"]]},{"id":"3c192b1e.5f9064","type":"http request","z":"96b5cc05.d335a","name":"","method":"GET","ret":"txt","url":"https://maker.ifttt.com/trigger/Intruder/with/key/cCce-uJEdHBwVVkCGDntH7","tls":"","x":829,"y":151,"wires":[["a31b4d0.9e064b"]],"outputLabels":["{ \"value1\" : \"\", \"value2\" : \"\", \"value3\" : \"\" }"]},{"id":"a31b4d0.9e064b","type":"debug","z":"96b5cc05.d335a","name":"","active":false,"console":"false","complete":"false","x":991,"y":78,"wires":[]},{"id":"b2553257.73b39","type":"switch","z":"96b5cc05.d335a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"\"nix Neues\"","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":648,"y":154,"wires":[["3c192b1e.5f9064"],[]]},{"id":"d618a44e.e55108","type":"debug","z":"96b5cc05.d335a","name":"","active":true,"console":"false","complete":"false","x":654,"y":71,"wires":[]},{"id":"ae218b12.d870b8","type":"function","z":"96b5cc05.d335a","name":"Andi","func":"if (msg.payload.MAC.indexOf(\"d0:c5:f3:b3:5d:45\")>0)\n    msg.payload=msg.payload=\"Andreas here\";\nelse\n    msg.payload=\"Andreas out\";\nreturn msg;","outputs":1,"noerr":0,"x":438,"y":282,"wires":[["8d9af518.6132c8"]]},{"id":"8723f25f.53643","type":"debug","z":"96b5cc05.d335a","name":"","active":false,"console":"false","complete":"false","x":403,"y":398,"wires":[]},{"id":"b7ace64c.a20d98","type":"debug","z":"96b5cc05.d335a","name":"","active":false,"console":"false","complete":"false","x":213,"y":453,"wires":[]},{"id":"3c69cfe3.7870e","type":"function","z":"96b5cc05.d335a","name":"Marwin","func":"if (msg.payload.MAC.indexOf(\"90:b6:86:c4:ba:9e\")>0)\n    msg.payload=msg.payload=\"Marwin here\";\nelse\n    msg.payload=\"Marwin out\";\nreturn msg;","outputs":1,"noerr":0,"x":445,"y":341,"wires":[["6888be40.100c7"]]},{"id":"6888be40.100c7","type":"function","z":"96b5cc05.d335a","name":"Status","func":"if (msg.payload==\"Marwin out\") node.status({fill:\"red\",shape:\"ring\",text:msg.payload});\nelse node.status({fill:\"green\",shape:\"ring\",text:msg.payload});    \nreturn msg;","outputs":1,"noerr":0,"x":623,"y":345,"wires":[[]]},{"id":"8d9af518.6132c8","type":"function","z":"96b5cc05.d335a","name":"Status","func":"if (msg.payload==\"Andreas out\") node.status({fill:\"red\",shape:\"ring\",text:msg.payload});\nelse node.status({fill:\"green\",shape:\"ring\",text:msg.payload});    \nreturn msg;","outputs":1,"noerr":0,"x":623,"y":276,"wires":[[]]},{"id":"9ef29a8f.21e728","type":"mqtt-broker","z":"","broker":"192.168.0.203","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]